<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<table>
  <tr>
    <td>name</td>
    <td>balance</td>
  </tr>
  <tr>
    <td><%= current_user.name %></td>
    <td><%= current_user.account.balance %></td>
  </tr>
</table>
